<ion-list>
    <ion-item-sliding *ngFor="let list of todoService.lists | filtroCompletado:terminada">
        <ion-item (click)="readList(list)" detail>
            <ion-label>
                {{ list.title }}
            </ion-label>
            <ion-note slot="end">
                {{ list.items.length }}
            </ion-note>
        </ion-item>
        <ion-item-options side="start">
            <ion-item-option (click)="updateList(list)">
                <ion-icon name="create-outline" slot="icon-only"></ion-icon>
            </ion-item-option>
        </ion-item-options>
        <ion-item-options side="end">
            <ion-item-option color="danger" (click)="deleteList(list)">
                <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
            </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
</ion-list>